@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Host Grotesk', 'Inter', sans-serif;
}

.swiper {
  position: relative;
  width: 300px;
  height: 300px;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
